- name: Start preview
  description: start camera preview 
  status: controllerchange
  channel: 1
  data: 20 1
  command: camera

- name: Stop preview
  description: stop camera preview
  status: controllerchange
  channel: 1
  data: 20 2
  command: camera

- name: FX1 
  description: Apply FX
  status: controllerchange
  channel: 1
  data: 21 1
  command: camera

- name: FX2
  description: Apply FX
  status: controllerchange
  channel: 1
  data: 21 2
  command: camera

- name: FX3
  description: Apply FX
  status: controllerchange
  channel: 1
  data: 21 3
  command: camera

- name: FX4
  description: Apply FX
  status: controllerchange
  channel: 1
  data: 21 0
  command: camera

- name: Fx Looper
  description: FxRotation
  status: controllerchange
  channel: 1
  data: 21 99
  command: camera

- name: Rotation
  description: Rotation
  status: controllerchange
  channel: 1
  data: 22
  command: camera

- name: Zoom1
  description: Rotation
  status: controllerchange
  channel: 1
  data: 25
  command: camera

- name: Zoom2
  description: Rotation
  status: controllerchange
  channel: 1
  data: 26
  command: camera

- name: ZoomX
  description: Rotation
  status: controllerchange
  channel: 1
  data: 27
  command: camera

- name: ZoomY
  description: Rotation
  status: controllerchange
  channel: 1
  data: 28
  command: camera

- name: Capture
  description: Capture
  status: controllerchange
  channel: 1
  data: 23
  command: camera

- name: Flip
  description: Capture
  status: controllerchange
  channel: 1
  data: 29
  command: camera
