- name: Intro 2112
  description: When note number 1 / channel 1
  status: noteon
  channel: 1
  data: 1 0
  command: aplay ./audio/2112.wav
- name: Gong
  description: When note number 2 / channel 1
  status: noteon
  channel: 1
  data: 2 0
  command: aplay ./audio/gong.wav
- name: Play Sonar Video
  description: When note number 3 / channel 1
  status: noteon
  channel: 1
  data: 3 0
  command: omxplayer -o hdmi ./audio/Sonar.mp4
- name: Play Highland Wedding
  description: When note number 4 / channel 1
  status: noteon
  channel: 1
  data: 4 0
  command: aplay ./audio/hw.wav
- name: Play Demon Voice
  description: When note number 5 / channel 1
  status: noteon
  channel: 1
  data: 5 0
  command: aplay ./audio/monster.wav
