- name: Intro 2112
  description: Play RUSH Intro 2112
  status: programchange
  channel: 3
  data: 0
  command: aplay ./audio/2112.wav

- name: StopAndMunster
  description: Stop MIDI sound and play munster
  status: programchange
  channel: 3
  data: 1
  command: internal bank_select 1 99 6 126

- name: Siren
  description: Play Siren
  status: programchange
  channel: 3
  data: 2
  command: mpg123 ./audio/siren.mp3
