- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 12 
  command: daw bankselect 1,99,0,100 2,99,0,2 3,99,0,3  4,99,0,4  5,99,0,5  6,99,0,6  7,99,0,7  8,99,0,8  9,99,0,9

- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 14 
  command: daw bankselect 1 99 0 83

- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 16 
  command: daw loadstream /mnt/flash/rush/ts1.wav

- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 17 
  command: daw loadstream /mnt/flash/rush/ts2.wav

- name: Toggle Play/Pause
  description: play/pause
  status: noteon
  channel: 1
  data: 13 
  command: daw play

- name: Toggle Play/Pause
  description: play/pause
  status: noteon
  channel: 1
  data: 15 
  command: daw pause

