- name: Rush
  description: TimeStandSteel
  status: noteon
  channel: 1
  data: 1 
  command: daw bankselect 1,99,0,95 2,99,0,103 

- name: Rush
  description: Closer2TheHeart
  status: noteon
  channel: 1
  data: 0 
  command: daw bankselect 1,99,0,15 2,81,0,34 

- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 16 
  command: daw loadstream /mnt/flash/rush/ts1.wav

- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 17 
  command: daw loadstream /mnt/flash/rush/ts2.wav

- name: Toggle Play/Pause
  description: play/pause
  status: noteon
  channel: 1
  data: 13 
  command: daw play

- name: Toggle Play/Pause
  description: play/pause
  status: noteon
  channel: 1
  data: 15 
  command: daw pause

