- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 12 
  command: daw bankselect 1 99 0 81

- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 14 
  command: daw bankselect 1 99 0 83

- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 16 
  command: daw loadstream /mnt/flash/rush/ts1.wav

- name: Test
  description: Test
  status: noteon
  channel: 1
  data: 17 
  command: daw loadstream /mnt/flash/rush/ts2.wav

- name: Toggle Play/Pause
  description: play/pause
  status: noteon
  channel: 1
  data: 13 
  command: daw play

- name: Toggle Play/Pause
  description: play/pause
  status: noteon
  channel: 1
  data: 15 
  command: daw pause

