
- name: DEBUG
  description: Test
  status: noteon
  channel: 1
  data: 12  
  command: sh ./play.sh /mnt/flash/rush/subdivisions1.mp3

- name: DEBUG
  description: Test
  status: noteon
  channel: 1
  data: 14 
  command: sh ./play.sh /mnt/flash/rush/subdivisions2.mp3

- name: DEBUG
  description: Test
  status: noteon
  channel: 1
  data: 16 
  command: sh ./play.sh /mnt/flash/rush/subdivisions3.mp3

- name: DEBUG
  description: Test
  status: noteon
  channel: 1
  data: 17 
  command: sh ./play.sh /mnt/flash/rush/subdivisions4.mp3

- name: DEBUG
  description: Test
  status: noteon
  channel: 1
  data: 18 
  command: sh ./play.sh /mnt/flash/rush/closer.mp3

- name: DEBUG
  description: Test
  status: noteon
  channel: 1
  data: 38 0
  command: sh ./kill.sh

- name: DEBUG
  description: Test
  status: noteon
  channel: 1
  data: 13 
  command: sh ./kill.sh
