- name: subdivisions1.wav
  description: Subdvision part I
  status: noteon
  channel: 1
  data: 11 0
  command: play -q ./ts2.wav

- name: subdivisions2.wav
  description: Subdvision part II
  status: noteon
  channel: 1
  data: 12 0
  command: play -q ./ts1.wav

- name: subdivisions3.wav
  description: Subdvisions part III
  status: noteon
  channel: 1
  data: 14 0
  command: play -q ./ts3.wav

- name: subdivisions4.wav
  description: Subdivisions part IV
  status: noteon
  channel: 1
  data: 16 0
  command: play -q ./subdivisions4.wav

- name: closer.wav
  description: Closer to the heart
  status: noteon
  channel: 1
  data: 67 0
  command: play -q ./closer.wav

- name: kill
  description: kill
  status: noteon
  channel: 1
  data: 24 64
  command: /bin/bash kill.sh
