- name: Rush
  description: TimeStandSteel
  status: noteon
  channel: 1
  data: 0 
  command: daw bankselect 1,99,0,95 2,99,0,103 

- name: Rush
  description: Closer2TheHeart
  status: noteon
  channel: 1
  data: 1 
  command: daw bankselect 1,99,0,15 2,81,0,34 

- name: Rush
  description: Barchetta/Freewill
  status: noteon
  channel: 1
  data: 2 
  command: daw bankselect 1,99,0,82

- name: Rush
  description: 2112
  status: noteon
  channel: 1
  data: 5
  command: external mpg123 /mnt/flash/rush/2112.mp3

- name: Rush
  description: 2112
  status: noteon
  channel: 1
  data: 6
  command: external mpg123 /mnt/flash/rush/trees.mp3

- name: Rush
  description: Rush
  status: noteon
  channel: 2
  data: 12 64
  command: external mpg123 /mnt/flash/rush/subdivisions1.mp3

- name: Rush
  description: Rush
  status: noteon
  channel: 2
  data: 13 64
  command: external mpg123 /mnt/flash/rush/subdivisions2.mp3

- name: Rush
  description: Rush
  status: noteon
  channel: 2
  data: 14 64
  command: external mpg123 /mnt/flash/rush/subdivisions3.mp3

- name: Rush
  description: Rush
  status: noteon
  channel: 2
  data: 15 64
  command: external mpg123 /mnt/flash/rush/subdivisions4.mp3

- name: Rush
  description: Rush
  status: noteon
  channel: 2
  data: 16 64
  command: external mpg123 /mnt/flash/rush/subdivisions5.mp3

- name: KILL
  description: KILL
  status: noteon
  channel: 1
  data: 36
  command: external sh ./kill.sh

- name: Rush
  description: Rush
  status: noteon
  channel: 1
  data: 23 0
  command: external sh ./kill.sh

- name: Rush
  description: Rush
  status: controllerchange
  channel: 1
  data: 20 0 
  command: external mpg123 /mnt/flash/rush/trees.mp3

- name: Rush
  description: Rush
  status: controllerchange
  channel: 1
  data: 21 0 
  command: external mpg123 /mnt/flash/rush/closer.mp3
