
- name: solo.config
  description: PAUSED NOTE NUMBER 13
  status: noteon
  channel: 1
  data: 13
  command: mpg123 pause

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 12
  command: mpg123 loadpaused ./audio/toto_rossana_no_bass.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 14
  command: mpg123 loadpaused ./audio/toto_africa_no_bass.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 15
  command: mpg123 loadpaused ./audio/yes_owner_lonely_heart.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 16
  command: mpg123 loadpaused ./audio/queen_want_break_free.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 17
  command: mpg123 loadpaused ./audio/queen_under_pressure.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 18
  command: mpg123 loadpaused ./audio/queen_crazy_little_thing_called_love.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 19
  command: mpg123 loadpaused ./audio/queen_another_on_bites_dust.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 20
  command: mpg123 loadpaused ./audio/zz_top_sharp_dressed_man.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 21
  command: mpg123 loadpaused ./audio/t4f_head_over_heels.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 22
  command: mpg123 loadpaused ./audio/t4f_everybody.mp3

- name: solo.config
  description: solo.config
  status: noteon
  channel: 1
  data: 23
  command: mpg123 loadpaused ./audio/police_walking_moon.mp3

