- name: Queen Under Pressure
  description: When note number 0 / channel 1
  status: noteon
  channel: 1
  data: 0
  command: /bin/bash ./play.sh queen_under_pressure.mp3
- name: Gong
  description: When note number 2 / channel 1
  status: noteon
  channel: 1
  data: 2
  command: /bin/bash ./play.sh queen_under_pressure.mp3
