- name: That was yesterday
  description: When note number 0 / channel 1
  status: noteon
  channel: 1
  data: 48
  command: mpg123 ./audio/yesterday.mp3
- name: Gong
  description: When note number 1 / channel 1
  status: noteon
  channel: 1
  data: 1
  command: aplay ./audio/gong.wav
- name: Play Highland Wedding
  description: When note number 2 / channel 1
  status: noteon
  channel: 1
  data: 2
  command: aplay ./audio/hw.wav
- name: Play Demon Voice
  description: When note number 3 / channel 1
  status: noteon
  channel: 1
  data: 3
  command: aplay ./audio/monster.wav
